* {
  box-sizing: border-box; }

body {
  padding: 0;
  margin: 0; }

.container {
  margin: 8rem auto;
  background-color: #fff;
  margin-top: 120px; }

body {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  height: 100vh; }

header .header {
  position: fixed;
  background: #7000e3;
  margin-top: -120px;
  width: 100%;
  z-index: 3; }
  header .header__area--right {
    margin: 0;
    padding-left: 20px;
    color: #ff661b;
    text-transform: uppercase; }
  header .header__area--left {
    float: right;
    margin-top: -44px;
    margin-right: 20px; }
    header .header__area--left i {
      font-size: 17px;
      cursor: pointer;
      color: #ff9900;
      letter-spacing: 5px;
      transition: 0.3s;
      padding-right: 10px;
      position: relative; }
      header .header__area--left i p {
        font-size: 10px;
        color: #fff;
        font-family: "Lato", sans-serif;
        font-weight: 900;
        position: absolute;
        top: -20px;
        left: 6px;
        background-color: rgba(255, 0, 0, 0.39);
        border: 1px solid #ffc831;
        width: 20px;
        height: 15px;
        text-align: center;
        cursor: pointer; }
    header .header__area--left i:hover {
      color: rgba(255, 255, 255, 0.562); }

.sidebar {
  background: #7000e3;
  padding-top: 20px;
  position: fixed;
  left: -250px;
  width: 250px;
  height: 80%;
  color: #fff;
  transition: 0.9s;
  transition-property: left;
  z-index: 5; }
  @media (max-width: 554px) {
    .sidebar {
      width: 180px; } }
  .sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 40px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: all 0.3s; }
    @media (max-height: 554px) {
      .sidebar a {
        line-height: 30px; } }
  .sidebar a:hover {
    color: #ffc831;
    background: #ff661b; }
  .sidebar i {
    padding-right: 10px; }
  .sidebar__image {
    width: 110px;
    height: 110px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 100%;
    opacity: 1;
    transition: all 0.5s;
    cursor: pointer; }
    @media (max-height: 554px) {
      .sidebar__image {
        width: 80px;
        height: 80px; } }
  .sidebar__image:hover {
    opacity: 0.6;
    transform: rotate(-5deg); }

.btn {
  padding: 6px;
  background-color: #fff;
  text-decoration: none;
  border-radius: 3px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  color: #000;
  transition: all 0.3s; }

.btn:hover {
  background: #f7f7f7;
  color: rgba(0, 0, 0, 0.8); }

.btn-green {
  padding: 10px;
  background-color: #17d417;
  text-decoration: none;
  border-radius: 3px;
  font-family: "Lato", sans-serif;
  font-weight: 300;
  border: none;
  color: #fff;
  transition: all 0.3s;
  cursor: pointer;
  outline: none; }

label #sidebar-btn {
  z-index: 5;
  cursor: pointer;
  position: fixed;
  color: #ffc831;
  left: 200px;
  font-size: 22px;
  margin: 44px 0;
  margin-top: -95px;
  transition: 0.3s; }
  @media (max-width: 620px) {
    label #sidebar-btn {
      left: 150px; } }

label #sidebar-btn:hover {
  color: #ff661b; }

#check:checked ~ .sidebar {
  left: -10px; }

#check {
  display: none; }

.close-btn {
  color: #ff9900;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  border: none;
  outline: none;
  padding-left: 430px;
  font-size: 22px; }

.gallery {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
  width: 100%; }
  .gallery img {
    width: 100%;
    transition: 0.3s;
    filter: blur(3px); }
  .gallery img:hover {
    transform: scale(1.1); }

.overview {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eee; }
  .overview__heading {
    padding: 1.5rem 3rem;
    font-size: 24px; }
    @media (max-width: 620px) {
      .overview__heading {
        font-size: 16px;
        padding: 0.5rem 1rem;
        padding: 1rem 1rem; } }
  .overview__stars {
    margin-right: auto;
    display: flex;
    align-items: center; }
    .overview__stars i {
      width: 1.2rem;
      height: 1.2rem;
      color: #ff661b; }
  .overview__location {
    font-size: 1.1rem;
    display: flex;
    vertical-align: center; }
    @media (max-width: 620px) {
      .overview__location {
        font-size: 16px; } }
    .overview__location i {
      color: #7000e3; }
  .overview__rating {
    background-color: #7000e3;
    font-weight: 600;
    margin-left: 2rem;
    align-self: stretch;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; }
    @media (max-width: 620px) {
      .overview__rating {
        padding: 0rem;
        margin-left: 1rem;
        font-weight: 300; } }
  .overview__rating-average {
    font-size: 2.2rem;
    color: #ff661b; }
  .overview__rating-count {
    font-size: 0.8rem;
    color: #fff; }

.btn-inline {
  border: none;
  color: #7000e3;
  font-weight: 100;
  font-size: inherit;
  border-bottom: 1px solid #7000e3;
  padding: 2px;
  display: inline-block;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s; }
  .btn-inline:hover {
    color: #7000e3;
    border-bottom: 1px solid #7000e3; }
  .btn-inline:focus {
    outline: none;
    animation: pulsate 1s infinite; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none; }
  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25); }
  100% {
    transform: scale(1);
    box-shadow: none; } }

.profile-view {
  background-color: #fff;
  flex: 1; }

.detail {
  display: flex;
  padding: 1rem;
  background-color: #f4f2f2;
  border-bottom: 1px solid #eee; }
  @media only screen and (max-width: 1100px) {
    .detail {
      flex-direction: column; } }

.description {
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.5);
  padding: 2rem;
  flex: 0 0 60%;
  margin-right: 0rem; }

.user-reviews {
  flex: 1; }

.star-widget input {
  display: none; }

.star-widget label {
  font-size: 16px;
  color: #444;
  padding: 10px;
  display: inline-block;
  float: right;
  transition: all 0.2s ease;
  cursor: pointer; }
  @media (max-width: 720px) {
    .star-widget label {
      font-size: 14px;
      padding: 12px; } }
  @media (max-width: 620px) {
    .star-widget label {
      font-size: 12px;
      padding: 3px; } }

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label {
  color: #ff9900; }

input:checked ~ label {
  color: #ff9900; }

input#rate-5:checked ~ label {
  color: #ff661b;
  text-shadow: 0 0 20px #952; }

.paragraph:not(:last-of-type) {
  margin-bottom: 2rem; }

.list {
  margin: 2rem 0;
  list-style: none;
  padding: 2rem 0;
  border-bottom: 1px solid #eee;
  border-top: 1px solid #eee;
  display: flex;
  flex-wrap: wrap; }
  @media only screen and (max-width: 1100px) {
    .list {
      font-size: 95%; } }
  .list__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem; }

.recommend {
  color: #2b8cfc;
  display: flex;
  align-items: center; }
  @media only screen and (max-width: 1100px) {
    .recommend {
      font-size: 95%; } }
  @media only screen and (max-width: 900px) {
    .recommend {
      font-size: 90%; } }
  @media only screen and (max-width: 700px) {
    .recommend {
      font-size: 85%; } }
  @media only screen and (max-width: 600px) {
    .recommend {
      font-size: 70%; } }
  .recommend__count {
    margin-right: auto; }
  .recommend__photo {
    box-sizing: content-box;
    height: 3.8rem;
    width: 3.8rem;
    border-radius: 100%;
    cursor: pointer;
    border: 3px solid #eee; }
    .recommend__photo:not(:last-child) {
      margin-right: -2rem; }
    @media only screen and (max-width: 600px) {
      .recommend__photo {
        height: 2.2rem;
        width: 2.2rem; }
        .recommend__photo:not(:last-child) {
          margin-right: -1.8rem; } }
    @media only screen and (max-width: 500px) {
      .recommend__photo {
        height: 1.9rem;
        width: 1.9rem; }
        .recommend__photo:not(:last-child) {
          margin-right: -1.8rem; } }

.review {
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.5);
  padding: 2rem;
  margin-bottom: 2.5rem; }
  @media only screen and (max-width: 1100px) {
    .review {
      margin-right: -2.5rem;
      margin-left: -2.5rem;
      font-size: 90%; } }
  .review__text {
    margin-bottom: 2rem; }
  .review__user {
    display: flex;
    flex-direction: column; }
  .review__photo {
    height: 4rem;
    width: 4rem;
    border-radius: 100%;
    margin-right: 1.5rem;
    filter: blur(3px); }
    @media (max-width: 1100px) {
      .review__photo {
        height: 3rem;
        width: 3rem;
        filter: blur(3px); } }
  .review__stars {
    color: #ff661b;
    font-size: 12px; }
  .review__user-box {
    margin-right: auto; }
  .review__user-name {
    font-size: 1.1rem;
    font-weight: 600;
    margin-bottom: 0.4rem; }
  .review__user-date {
    font-size: 1rem;
    color: #bbb; }

.friends {
  background-color: #fff;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.5);
  padding: 2rem;
  margin-bottom: 2.5rem; }
  @media only screen and (max-width: 1100px) {
    .friends {
      margin-right: -2.5rem;
      margin-left: -2.5rem; } }
  .friends__text {
    margin-bottom: 2rem; }
  .friends__user {
    display: flex;
    align-items: center;
    justify-content: center; }
  .friends__photo {
    height: 3rem;
    width: 3rem;
    border-radius: 100%;
    margin-right: 1.5rem;
    filter: blur(3px); }
  .friends__stars {
    color: #ff661b;
    font-size: 12px; }
  .friends__user-box {
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr); }
    @media only screen and (max-width: 1100px) {
      .friends__user-box {
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(1, 1fr); } }
    @media only screen and (max-width: 500px) {
      .friends__user-box {
        margin-right: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr); } }
  .friends__user-name {
    font-size: 0.6rem;
    font-weight: 600;
    padding-left: 0.5rem;
    padding-bottom: 0.2rem;
    margin-bottom: 0.4rem; }
